form {
    height: 200px;
    width: 500px;
    background-color: dodgerblue;
    position: absolute;
    top: 50px;
    left: 50px;
}

input {
    width: 150px;
}

.row {
    display: flex;
    justify-content: end;
    margin: 10px;
}