<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form [formGroup]="firstForm" (ngSubmit)="">
        <div class="row">
            <label for="firstName">First Name &nbsp;</label>
            <input type="text" name="firstName" required/>
            <label for="lastName">&nbsp;Last Name&nbsp;</label>
            <input type="text" name="lastName" />
        </div>
        <div class="row">
            <button type="button" (click)="save()">Save</button>
            <button type="button" (click)="start()">Start</button>
        </div>

    </form>
    <br>
</body>

</html>